
<mdb-navbar class="mt-2" SideClass="navbar navbar-dark
 fixed-bottom">
  <mdb-navbar-brand>
    <a class="navbar-brand" href="#"></a>
  </mdb-navbar-brand>

  <ul class="navbar-nav  nav-flex-icons">
    <li class="nav-item ">
      <a href="mailto:dlotero@esei.uvigo.es" class="nav-link">
        <mdb-icon far size="2x" icon="envelope"></mdb-icon>
      </a>
    </li>
    <li class="nav-item">
      <a href="https://www.facebook.com/diego.lusquinosotero" class="nav-link">
        <mdb-icon fab size="2x" icon="facebook"></mdb-icon>
      </a>
    </li>
    <li class="nav-item">
      <a href="https://www.linkedin.com/in/dlusquiños" class="nav-link">
        <mdb-icon fab size="2x" icon="linkedin"></mdb-icon>
      </a>
    </li>

    <li class="nav-item">
      <a href="https://github.com/Diegoxlus" class="nav-link">
        <mdb-icon fab size="2x" icon="github-square"></mdb-icon>
      </a>
    </li>
  </ul>

</mdb-navbar>
