<div class="row mt-4">
  <div class="col-md-4 mt-4">
    <!--Card-->
    <mdb-card cascade="true" wider="true">

      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="/assets/outeiro.jpg"></mdb-card-img>
        <a >
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

      <mdb-card-body cascade="true" class="text-center">
        <!--Card content-->
        <!--Title-->
        <h4 class="card-title">
          <strong>CEIP Outeiro das Penas </strong>
        </h4>
        <h5 class="indigo-text">
          <strong>Cesantes,Redondela</strong>
        </h5>

        <mdb-card-text>
          Educacion infantíl
        </mdb-card-text>



        <a href="https://www.edu.xunta.gal/centros/ceipouteirodaspenas/" mdbBtn color="unique" class="waves-light" mdbWavesEffect>Web</a>

      </mdb-card-body>
      <!--/.Card content-->

    </mdb-card>
    <!--/.Card-->
  </div>

  <div class="col-md-4 mt-4">
    <!--Card-->
    <mdb-card cascade="true" wider="true">

      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="/assets/Mendiño.jpg"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

      <mdb-card-body cascade="true" class="text-center">
        <!--Card content-->
        <!--Title-->
        <h4 class="card-title">
          <strong>IES Mendiño</strong>
        </h4>
        <h5 class="indigo-text">
          <strong>Redondela</strong>
        </h5>

        <mdb-card-text>
          Educacion secundaria obligatoria
        </mdb-card-text>



        <a href="https://www.edu.xunta.gal/centros/iesmendino/" mdbBtn color="unique" class="waves-light" mdbWavesEffect>Web</a>

      </mdb-card-body>
      <!--/.Card content-->

    </mdb-card>
    <!--/.Card-->
  </div>

  <div class="col-md-4 mt-4">
    <!--Card-->
    <mdb-card cascade="true" wider="true">

      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="/assets/Floriani.jpg"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

      <mdb-card-body cascade="true" class="text-center">
        <!--Card content-->
        <!--Title-->
        <h4 class="card-title">
          <strong>IES Pedro Floriani </strong>
        </h4>
        <h5 class="indigo-text">
          <strong>Redondela</strong>
        </h5>

        <mdb-card-text>
          Bachillerato tecnológico
        </mdb-card-text>



        <a href="https://www.edu.xunta.gal/centros/iespedrofloriani/" mdbBtn color="unique" class="waves-light" mdbWavesEffect>Web</a>

      </mdb-card-body>
      <!--/.Card content-->

    </mdb-card>
    <!--/.Card-->
  </div>
</div>

<div class="row justify-content-md-center margenPie">
  <div class="col-md-4 mt-4">
    <!--Card-->
    <mdb-card cascade="true" wider="true">

      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="/assets/esei.jpg"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

      <mdb-card-body cascade="true" class="text-center">
        <!--Card content-->
        <!--Title-->
        <h4 class="card-title">
          <strong>Escuela superior de ingeniería informática </strong>
        </h4>
        <h5 class="indigo-text">
          <strong>Ourense</strong>
        </h5>

        <mdb-card-text>
          Grado
        </mdb-card-text>



        <a href="https://esei.uvigo.es/" mdbBtn color="unique" class="waves-light" mdbWavesEffect>Web</a>

      </mdb-card-body>
      <!--/.Card content-->

    </mdb-card>
    <!--/.Card-->
  </div>

  <div class="col-md-4 mt-4">
    <!--Card-->
    <mdb-card cascade="true" wider="true">

      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="/assets/isec.jpg"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

      <mdb-card-body cascade="true" class="text-center">
        <!--Card content-->
        <!--Title-->
        <h4 class="card-title">
          <strong>Instituto Superior de Engenharia de Coimbra</strong>
        </h4>
        <h5 class="indigo-text">
          <strong>Coimbra,Portugal</strong>
        </h5>

        <mdb-card-text>
          Erasmus
        </mdb-card-text>



        <a href="https://www.isec.pt/PT/Default.aspx" mdbBtn color="unique" class="waves-light" mdbWavesEffect>Web</a>

      </mdb-card-body>
      <!--/.Card content-->

    </mdb-card>
    <!--/.Card-->
  </div>

    <!--/.Card-->
  </div>

